@page
@model AISStore.Pages.EmployeeTypes.IndexModel

@{
    ViewData["Title"] = "Должности";
}

<h1>Должности</h1>

<p>
    <a asp-page="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeType[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.EmployeeType) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.EmployeeTypeId">Изменить</a> |
                <a asp-page="./Details" asp-route-id="@item.EmployeeTypeId">Подробнее</a> |
                <a asp-page="./Delete" asp-route-id="@item.EmployeeTypeId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
