@page
@model AISStore.Pages.Orders.DetailsModel

@{
    ViewData["Title"] = "Заказы";
}

<h1>Подробнее</h1>

<div>
    <h4>Заказ</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Timestamp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Timestamp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Client)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Client.ClientId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Employee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Employee.EmployeeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.OrderItems)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderItems.OrderItemsId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Order.OrderId">Изменить</a> |
    <a asp-page="./Index">Вернуться к списку</a>
</div>
