@page
@model AISStore.Pages.SupplyItems.DeleteModel

@{
    ViewData["Title"] = "Товары поставки";
}

<h1>Удалить</h1>

<h3>Вы уверены?</h3>
<div>
    <h4>Товар поставки</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SupplyItem.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SupplyItem.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SupplyItem.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SupplyItem.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SupplyItem.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SupplyItem.Description)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="SupplyItem.SupplyItemId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Вернуться к списку</a>
    </form>
</div>
