@page
@model AISStore.Pages.Providers.DeleteModel

@{
    ViewData["Title"] = "Поставщики";
}

<h1>Удалить</h1>

<h3>Вы уверены?</h3>
<div>
    <h4>Поставщик</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Provider.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Provider.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Provider.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Provider.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Provider.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Provider.Address)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Provider.ProviderId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Вернуться к списку</a>
    </form>
</div>
