@page
@model AISStore.Pages.Providers.IndexModel

@{
    ViewData["Title"] = "Поставщики";
}

<h1>Поставщики</h1>

<p>
    <a asp-page="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Provider[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Provider[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Provider[0].Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Provider) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProviderId">Изменить</a> |
                <a asp-page="./Details" asp-route-id="@item.ProviderId">Подробнее</a> |
                <a asp-page="./Delete" asp-route-id="@item.ProviderId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
