@page
@model AISStore.Pages.Clients.DeleteModel

@{
    ViewData["Title"] = "Клиенты";
}

<h1>Удалить</h1>

<h3>Вы уверены?</h3>
<div>
    <h4>Клиенты</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Patronymic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Patronymic)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Email)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Client.ClientId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Вернуться к списку</a>
    </form>
</div>
