@page
@model AISStore.Pages.Stocks.IndexModel

@{
    ViewData["Title"] = "Склад";
}

<h1>Склад</h1>

<p>
    <a asp-page="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Stock[0].Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock[0].IsOnStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock[0].SupplyItemsId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock[0].ItemType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Stock) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsOnStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplyItemsId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemType.ItemTypeId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.StockId">Изменить</a> |
                <a asp-page="./Details" asp-route-id="@item.StockId">Подробнее</a> |
                <a asp-page="./Delete" asp-route-id="@item.StockId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
